.square{
    border: 2px solid goldenrod;
    font-size: 3rem;
    display: grid;
    place-items: center;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5em;
    width: 50vw;
    height: 50vw;
    margin: 0 auto;
}

@media screen and (orientation: landscape){
    .board{
        width: 30vw;
        height: 30vw;
    }
}